<div class="content">
  <!--Resources-->
  <h5>{{category}}</h5>
  <div class="resource">
    <mat-card *ngFor="let item of items|ArrayFilterPipe:category;let i=index">
      <div class="layer" fxLayoutGap="10px">
        <span fxFlex>{{item.item}}</span>
        <mat-icon fxFlexAlign="end">edit</mat-icon>
      </div>
      <div class="layer" fxLayoutGap="10px">
        <span fxFlex>No. {{i+1}}</span>
        <span fxFlexAlign="end">Hourly Rate {{item.unit_cost}}</span>
      </div>
    </mat-card>
  </div>
  <ng-template #noResource>
    <span fxFlex>No Resources available</span>
  </ng-template>
  <button mat-mini-fab>
    <mat-icon>add</mat-icon>
  </button>
</div>
