<div class="content">
  <!--Daily Report-->
  <mat-card fxLayoutGap="10px">
    <mat-icon class="icon">mail</mat-icon>
    <span fxFlex>Daily Report</span>
    <button mat-icon-button fxFlexAlign="end">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card>
  <!--Schedule-->
  <mat-card fxLayoutGap="10px">
    <mat-icon class="icon">mail</mat-icon>
    <span fxFlex>Schedule</span>
    <button mat-icon-button fxFlexAlign="end">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card>
  <!--Machinery-->
  <mat-card fxLayoutGap="10px">
    <mat-icon class="icon">mail</mat-icon>
    <span fxFlex>Machinery</span>
    <button mat-icon-button fxFlexAlign="end">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card>
  <!--Material-->
  <mat-card fxLayoutGap="10px">
    <mat-icon class="icon">mail</mat-icon>
    <span fxFlex>Material</span>
    <button mat-icon-button fxFlexAlign="end">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card>
  <!--Labor-->
  <mat-card fxLayoutGap="10px">
    <mat-icon class="icon">mail</mat-icon>
    <span fxFlex>Labor</span>
    <button mat-icon-button fxFlexAlign="end" [routerLink]="'asset'">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card>
</div>

