<div class="content">
  <!--Schedule-->
  <div fxLayoutGap="10px">
    <h5 fxFlex>{{mode | titlecase}} Schedule</h5>
    <button class="back-btn" fxFlexAlign="end" mat-icon-button (click)="cancel()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>
  <mat-card class="resource">
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="schForm" *ngIf="sch" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <input matInput formControlName="task" placeholder="Task">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="percentage_completed" placeholder="Completion Percentage">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="units_completed" placeholder="Completion Units">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date" [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [startAt]="defDate" #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Estimated Completion Date" [matDatepicker]="picker2"
                 formControlName="estimated_completion_date">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker [startAt]="defDate" #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Images" formControlName="images"></textarea>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button [ngClass]="{'custom-btn':schForm.valid}"
                [disabled]="!schForm.valid">Done
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

