@import "../../../variables";

.content {
  .custom-btn {
    color: white;
    background-color: $primary;
  }
  .back-btn {
    margin-bottom: 10px;
  }
  padding-top: 40px;
  h5 {
    padding: 10px 20px
  }
  mat-card {
    .icon {
      padding-top: 8px;
    }
    span {
      padding-top: 10px;
    }
    padding: 10px;
    margin: 10px 20px;
  }
}

.layer {
  span {
    font-size: 16px;
  }
}
