<mat-toolbar ngClass.gt-sm="desktop-mode">
  <div fxFlex fxHide.gt-sm fxLayoutAlign="start">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span fxFlex.gt-sm fxLayoutAlign.lt-md="end">SiteMgr</span>
  <div fxHide.lt-md fxLayoutGap="20px">
    <span><a routerLink="">Home</a></span>
    <span><a routerLink="admin">Admin</a></span>
    <span><a routerLink="labor">Labor</a></span>
    <!--<span><a routerLink="machinery">Machinery</a></span>
    <span><a routerLink="materials">Materials</a></span>
    <span><a routerLink="progress">Progress</a></span>
    <span><a routerLink="report">Report</a></span>-->
  </div>
</mat-toolbar>
