@import "../../variables";

.mat-toolbar {
  background: $primary;
  box-shadow: 0 1px 6px 0px rgba(0, 0, 0, .54);
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #ffeada;
  }
}

.desktop-mode {
  padding: 0 10vw;
}
