<div class="content">
  <!--Machinery-->
  <div fxLayoutGap="10px">
    <h5 fxFlex>{{mode | titlecase}} Material</h5>
    <button class="back-btn" fxFlexAlign="end" mat-icon-button (click)="cancel()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>
  <mat-card class="resource">
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="matForm" *ngIf="mat" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <input matInput formControlName="type" placeholder="Type">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="cost" placeholder="Cost">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="quantity" placeholder="Quantity">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="consumed" placeholder="Consumed Quantity">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Date" [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [startAt]="defDate" #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Images" formControlName="images"></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button [ngClass]="{'custom-btn':matForm.valid}"
                [disabled]="!matForm.valid">Done
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

