<mat-nav-list fxLayoutGap="7px">
  <a mat-list-item [routerLink]="''" [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{'exact':'true'}"
     (click)="closeSidenav()">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Home</span>
  </a>
  <!--<a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="profile" [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{'exact':'true'}"
     (click)="closeSidenav()">-->
  <!--<a mat-list-item>
    <mat-icon>account_circle</mat-icon>
    <span class="nav-caption">Profile</span>
  </a>-->
  <!--<a mat-list-item (click)="closeSidenav()">
    <mat-icon>visibility</mat-icon>
    <span class="nav-caption">Login</span>
  </a>-->
  <!--<a mat-list-item (click)="closeSidenav()" routerLink="register"
     [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{'exact':'true'}">
    <mat-icon>verified_user</mat-icon>
    <span class="nav-caption">Register</span>
  </a>-->
  <a mat-list-item routerLink="labor" (click)="closeSidenav()" [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{'exact':'true'}">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Labor</span>
  </a>
  <a mat-list-item routerLink="machinery" (click)="closeSidenav()" [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{'exact':'true'}">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Machinery</span>
  </a>
  <a mat-list-item routerLink="materials" (click)="closeSidenav()" [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{'exact':'true'}">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Materials</span>
  </a>
  <a mat-list-item routerLink="schedules" (click)="closeSidenav()" [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{'exact':'true'}">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Schedules</span>
  </a>
  <a mat-list-item routerLink="report" (click)="closeSidenav()" [routerLinkActive]="'active'"
     [routerLinkActiveOptions]="{'exact':'true'}">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">Report</span>
  </a>
  <!--<a *ngIf="authService.isAuthenticated()" mat-list-item (click)="closeSidenav();authService.logout()">
    <mat-icon>visibility_off</mat-icon>
    <span class="nav-caption">Logout</span></a>-->
</mat-nav-list>
