@import "../../variables";

.content {
  .custom-btn {
    color: white;
    background-color: $primary;
  }

  .back-btn {
    margin-bottom: 10px;
  }

  h5 {
    padding: 10px 20px
  }

  mat-card {
    box-shadow: unset;

    .icon {
      padding-top: 8px;
    }

    span {
      padding-top: 10px;
    }
  }
}
