<mat-accordion>
  <mat-expansion-panel ngClass.lt-md="custom-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{item.item}}
      </mat-panel-title>
      <mat-panel-description>
        <span matTooltip="(actual/expected)">Progress {{item.actual_progress| number : '1.2'}}/{{item.expected_progress| number : '1.2'}}</span>
        <span>Last Updated: {{item.last_update}}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile colspan="2">{{item.description}}</mat-grid-tile>
      <mat-grid-tile>Start Date: {{item.start_date}}</mat-grid-tile>
      <mat-grid-tile>End Date: {{item.end_date}}</mat-grid-tile>
      <mat-grid-tile>Unit Cost: {{item.unit_cost}}</mat-grid-tile>
      <mat-grid-tile>Quantity: {{item.quantity}} {{item.item_units}}</mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
