mat-sidenav-container {
  width: 100vw;
  mat-sidenav {
    width: 50vw;
  }
  .mat-sidenav-content {
    .container-custom {
      height: calc(100vh - 64px);
      /*
            background-color: #eeeeee;*/
    }

    .container-desktop {
      padding: 2vh 15vw;
    }

    .def-gap {
      padding: 0 80px;
    }

  }
}
