<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push" position="start">
    <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-http-loader [backgroundColor]="'#ff0000'" [spinner]="spinkit.skWave" [debounceDelay]="100" [minDuration]="300"
      [extraDuration]="300">
    </ng-http-loader>
    <app-navbar (sidenavToggled)="sidenav.toggle()"></app-navbar>
    <div class="container-custom" ngClass.gt-xs="container-desktop" [ngClass.gt-xs]="{'home':path=='/','container-desktop':path!=='/'}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>