<div class="content">
  <!--TODO: add routes for edit and add-->
  <!--Labor-->
  <h5>Labor</h5>
  <div fxLayout="column">
    <div *ngIf="labors&&labors.length>0;else noResource">
      <mat-card *ngFor="let labor of labors">
        <app-labor-item [labor]="labor"></app-labor-item>
      </mat-card>
    </div>
    <ng-template #noResource>
      <mat-card><span fxFlex>No Labors added today.</span></mat-card>
    </ng-template>
    <div fxFlex fxFlexAlign="end">
      <button mat-mini-fab routerLink="../labordetails" fragment="add">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
