<div class="content">
  <!--Machinery-->
  <h5>Machinery</h5>
  <div fxLayout="column">
    <div *ngIf="machines&&machines.length>0;else noResource">
      <mat-card *ngFor="let machine of machines">
        <app-machinery-item [machine]="machine"></app-machinery-item>
      </mat-card>
    </div>
    <ng-template #noResource>
      <mat-card><span fxFlex>No Machinery available</span></mat-card>
    </ng-template>
    <div fxFlex fxFlexAlign="end">
      <button mat-mini-fab routerLink="../machinerydetails" fragment="add">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
