<div class="content">
  <!--Materials-->
  <h5>Materials</h5>
  <div fxLayout="column">
    <div *ngIf="materials&&materials.length>0;else noResource">
      <mat-card *ngFor="let material of materials">
        <app-material-item [material]="material"></app-material-item>
      </mat-card>
    </div>
    <ng-template #noResource>
      <mat-card><span fxFlex>No Materials available</span></mat-card>
    </ng-template>
    <div fxFlex fxFlexAlign="end">
      <button mat-mini-fab routerLink="../materialdetails" fragment="add">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
