.landing {
  overflow: hidden;
  width: 100vw;
  position: relative;
  z-index: 5;
  height: 100%;
  background-size: cover;
  background-image: url("../../../assets/images/bg1.jpg");
  background-position: bottom;
}
