<div class="layer" fxLayoutGap="10px">
  <span
    fxFlex><strong>#{{material.id}}</strong> | Inventory Type: {{material.InventoryType === "O" ? "Used" : "Arrived"}}</span>
  <a role="button" routerLink="../materialdetails" fragment="edit"
     (click)="coreService.current_material.next(material)">
    <mat-icon fxFlexAlign="end">edit</mat-icon>
  </a>
</div>
<div class="layer" fxLayoutGap="10px">
  <span fxFlex>Name: {{material.MaterialName}}</span>
  <span fxFlexAlign="end">Type: {{material.MaterialType}}</span><!--TODO-->
</div>
<div class="layer" fxLayoutGap="10px">
  <span fxFlex>Qty: {{material.MaterialQuantity}} {{material.MaterialUnits}}</span>
  <span fxFlexAlign="end">Comments: {{material.Comments}}</span>
</div>
<!-- TODO : Add images component-->
