<div class="content">
  <!--Schedules-->
  <h5>Schedules</h5>
  <div fxLayout="column">
    <div *ngIf="schedules&&schedules.length>0;else noResource">
      <mat-card *ngFor="let schedule of schedules">
        <div class="layer" fxLayoutGap="10px">
          <span fxFlex>{{schedule.task}}</span>
          <a role="button" fragment="edit"
             (click)="deleteSchedule(schedule)">
            <mat-icon fxFlexAlign="end">delete</mat-icon>
          </a>
          <a role="button" routerLink="../scheduledetails" fragment="edit"
             (click)="coreService.current_schedule.next(schedule)">
            <mat-icon fxFlexAlign="end">edit</mat-icon>
          </a>
        </div>
        <div class="layer" fxLayoutGap="10px">
          <span fxFlex>Starts from {{schedule.date}} and ends on {{schedule.estimated_completion_date}}</span>
          <span fxFlexAlign="end">Completion {{schedule.percentage_completed}}% and {{schedule.units_completed}}</span>
        </div>
      </mat-card>
    </div>
    <ng-template #noResource>
      <mat-card><span fxFlex>No Schedule available</span></mat-card>
    </ng-template>
    <div fxFlex fxFlexAlign="end">
      <button mat-mini-fab routerLink="../scheduledetails" fragment="add">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
