@import "../../variables";

.content {
  button {
    background-color: $primary;
  }
  padding-top: 30px;
  h5 {
    padding: 10px 20px
  }
  mat-card {
    .icon {
      padding-top: 8px;
    }
    span {
      padding-top: 10px;
    }
    padding: 10px;
    margin: 10px 20px;
  }
}
