@import "../../variables";

.content {
  button {
    background-color: $primary;
  }

  padding-top: 30px;

  h5, h6 {
    padding: 10px 20px
  }

  mat-accordion {
    /*padding: 10px 20px !important;

    .icon {
      padding-top: 8px;
    }

    span {
      padding-top: 10px;
    }*/
    margin: 10px;
  }

  .custom-width {
    min-width: 100%;
  }
}
