/*google fonts*/
@import url('https://fonts.googleapis.com/icon?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,800,700,900');

/*bootstrap*/
@import "~bootstrap/dist/css/bootstrap.css";

