/*google fonts*/
@import url('https://fonts.googleapis.com/icon?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,800,700,900');
/*bootstrap*/
@import "~bootstrap/dist/css/bootstrap.css";

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.mat-card {
  width: 100%;
}

h5 {
  font-weight: 600 !important;
}

a {
  cursor: pointer;
  color: black;
}
