<div class="content">
  <!--Diesel-->
  <div fxLayoutGap="10px">
    <h5 fxFlex>{{mode | titlecase}} Diesel</h5>
    <button class="back-btn" fxFlexAlign="end" mat-icon-button (click)="cancel()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  </div>
  <mat-card class="resource">
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="dieselForm" *ngIf="diesel" fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <input matInput formControlName="vehicle_no" placeholder="Vehicle Number">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="litres">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput formControlName="comment" placeholder="Comments"></textarea>
        </mat-form-field>
        <div fxLayout="row">
          <div fxFlex>
            <button type="button" class="custom-btn" mat-mini-fab>
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>
          <div fxLayoutGap="5px">
            <button type="submit" mat-raised-button class="custom-btn">Save</button>
            <button type="button" mat-mini-fab [disabled]="mode==='add'" class="custom-btn"
                    (click)="deleteDiesel()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

