<div class="content">
  <h5>Progress</h5>
  <div fxLayout="column">
    <div *ngIf="progress&&progress.length>0;else noResource">
      <mat-card *ngFor="let p of progress">
        <app-progress-item [progress]="p"></app-progress-item>
      </mat-card>
    </div>
    <ng-template #noResource>
      <mat-card><span fxFlex>No Progress added today.</span></mat-card>
    </ng-template>
    <div fxFlex fxFlexAlign="end">
      <button mat-mini-fab (click)="modalService.openScheduleDialog('add')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
